#about{
    .section-title{
        text-align: left;
        h3{
            font-family: "Rubik", sans-serif;
        }
        h5{
            color:black;
        }
        h3:before{
            font-family: 'themify';
            content:'\e61a';
            color:black;
            font-size: 1em;
            margin-right:10px;
        }
    }
    .team{
        >div{
            text-align: center;
        }
        .member{
            object-position: 50% 50%;
            height: 201px;
            object-fit: cover;
        }
        .desc{
            display:grid;
            text-align:center;
            .icons{
                a{
                    margin-right:5px;
                    text-decoration: none;
                    color:black;
                }
            }
        }
    }
    .plus{
        color: black;
        font-size: 3em;
        font-weight: bolder;
    }
    .problem{
        p:before{
            font-family: 'themify';
            content: '\e69c';
            font-size: 1.5em;
            margin-right:10px;

        }
    }
    .solution{
        p:before{
            font-family: 'themify';
            content: '\e695';
            font-size: 1.5em;
            margin-right:10px;
        }
    }
    
    .highlight{
        background-color:#FEF300;
        @media (min-width: 768px) {
            background-image:url('../../assets/astronautleft.png');
            background-repeat: no-repeat;
            background-size: 15%;
            background-position: 85% 50%;
        }
        padding:40px 0;
    }
    .problematic{
        @media (min-width: 768px) {
            background-image: url('../../assets/astronaut.png');
            background-repeat: no-repeat;
            background-size: 24%;
            background-position: 15% 50%;
        }
    }
    .who{
        // @media (min-width: 768px) {
        //     background-image:url('../../assets/board.jpg');
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     background-position: left;
        // }
        background-color:#212121;
        
        padding:20px 0;
        margin-top:3em;
        p,ul{  
            color:white;
        }
    }
}