<div class="section light-bg" id="about">
  <div class="container who">
    <div class="section-title">
      <h3>Who we are?</h3>
    </div>
    <div class="tab-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum neque vel purus iaculis placerat. Nam
        vulputate, nisi sed euismod maximus, elit metus finibus nibh, non iaculis sapien lectus a enim. Morbi ut tortor
        dapibus, pulvinar augue quis, gravida est. Maecenas ac lectus iaculis, maximus eros et, dignissim massa. Nulla
        quis ultrices tellus. Nam eleifend ante arcu, sed porta mi porta in. Sed id gravida libero.

        Ut aliquet egestas ultricies. Sed scelerisque lobortis dictum. Phasellus quis semper dolor. Vivamus et lorem at
        magna aliquet mattis. Suspendisse volutpat est sit amet nibh tincidunt, eget luctus leo fringilla. Praesent non
        finibus ex. Proin rutrum, mauris vel facilisis dignissim, urna leo sollicitudin nisl, ut pharetra leo ligula
        vitae ipsum. Phasellus eros ipsum, sodales eget nisi vitae, pulvinar euismod ex. Fusce ac egestas tellus. Proin
        mi enim, vestibulum non lectus pretium, mollis maximus neque. Sed quis metus in tellus placerat suscipit.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="section-title">
      <h3>The Team</h3>
    </div>

    <div class="img-gallery owl-carousel owl-theme">
      <img src="assets/guy.png" alt="Anastasia">
      <img src="assets/guy.png" alt="Baha">
      <img src="assets/guy.png" alt="Abdellaziz">
    </div>

  </div>

</div>