<div class="section light-bg" id="about">
  <div class="container">
    <div class="section-title">
      <h3>ABOUT US</h3>
      <h5>The team behind Whiznook:</h5>
    </div>
    <div class="row team">
      <div class="col-3">
        <img class="member" src="assets/anastasia.jpeg" alt="Team member.">
        <div class="desc">
          <span>Anastasia Neddersen</span>
          <small>Founder and CEO</small>
          <div class="icons">
            <a href="https://www.linkedin.com/in/neddersen/"><i class="ti-linkedin"></i></a>
            <a href="https://twitter.com/aneddersen"><i class="ti-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <img class="member" src="assets/james.png" alt="Team member.">
        <div class="desc">
          <span>James Creasy</span>
          <small>Founder and CTO</small>
          <div class="icons">
              <a href="#"><i class="ti-linkedin"></i></a>
              <a href="#"><i class="ti-twitter"></i></a>
            </div>
        </div>
      </div>
      <div class="col-3">
        <img class="member" src="assets/baha.jpg" alt="Team member.">
        <div class="desc">
          <span>Baha Eddine Ayadi</span>
          <small>Lead Web Developer</small>
          <div class="icons">
              <a href="https://www.linkedin.com/in/ayadi-baha-eddine-12b3a3b2/"><i class="ti-linkedin"></i></a>
              <a href="https://twitter.com/bahaEayadi"><i class="ti-twitter"></i></a>
            </div>
        </div>
      </div>
      <div class="col-3">
        <img class="member" src="assets/troudi.jpg" alt="Team member.">
        <div class="desc">
          <span>Abdellaziz Troudi</span>
          <small>Web Developer</small>
          <div class="icons">
              <a href="https://www.linkedin.com/in/troudi-abdellaziz-bb999816a"><i class="ti-linkedin"></i></a>
              <a href="#"><i class="ti-twitter"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="who">
    <div class="container">
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <p>Whiznook is on the mission to make building teams more fun and effective.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
          <p>We, at Whiznook, believe that our hiring industry got it backwards. We live in the world that makes
            professional candidates write up a page with all their relevant skills, spam as many companies with it and
            cross
            fingers for a hit; then endure hours of interviews and hopefully land a job. That’s not, however, where the
            story ends. According to a 2018 study by <a
              href="https://www.mercer.com/our-thinking/career/global-talent-hr-trends.html">Mercer</a>, more than 30%
            of the hired employees will not last a year.
            Another study revealed that replacing high-talented employee will cost a company 200% of the employee’s
            annual
            salary.</p>
          <p>So what’s the problem? Why we are so bad at assessing people for the right roles?</p>
        </div>
      </div>

    </div>
  </div>
  <div class="highlight">
    <div class="container">
      <div class="row">
        <div class="col-6 problem">
          <p>The problem is that interviews, and other personality and behavioral assessments, are based on intentional
            and
            often skillful branding of ourselves. After a few months, our guards come down and our true personalities
            come
            forward. This is true for both the hiring team and the potential candidate.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 solution">
          <p>Our solution is to remove team players’ guards from the get-go. We created a game interview - an immersive,
            interactive approach to give insight on emotional intelligence of the joining team member and overall
            cultural
            fit within the team. </p>
        </div>
      </div>
    </div>
  </div>

</div>