<div class="section light-bg" id="about">
  <div class="container">
    <div class="section-title">
      <h3>ABOUT US</h3>
      <h5>The team behind Whiznook:</h5>
    </div>
    <div class="row team">
      <div class="col-md-3 col-sm-12">
        <img class="member" src="assets/anastasia.jpeg" alt="Team member.">
        <div class="desc">
          <span>Anastasia Neddersen</span>
          <small>Founder and CEO</small>
          <div class="icons">
            <a href="https://www.linkedin.com/in/neddersen/"><i class="ti-linkedin"></i></a>
            <a href="https://twitter.com/aneddersen"><i class="ti-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <img class="member" src="assets/james.png" alt="Team member.">
        <div class="desc">
          <span>James Creasy</span>
          <small>Founder and CTO</small>
          <div class="icons">
              <a href="#"><i class="ti-linkedin"></i></a>
              <a href="#"><i class="ti-twitter"></i></a>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <img class="member" src="assets/baha.jpg" alt="Team member.">
        <div class="desc">
          <span>Baha Eddine Ayadi</span>
          <small>Lead Web Developer</small>
          <div class="icons">
              <a href="https://www.linkedin.com/in/ayadi-baha-eddine-12b3a3b2/"><i class="ti-linkedin"></i></a>
              <a href="https://twitter.com/bahaEayadi"><i class="ti-twitter"></i></a>
            </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <img class="member" src="assets/troudi.jpg" alt="Team member.">
        <div class="desc">
          <span>Abdellaziz Troudi</span>
          <small>Web Developer</small>
          <div class="icons">
              <a href="https://www.linkedin.com/in/troudi-abdellaziz-bb999816a"><i class="ti-linkedin"></i></a>
              <a href="#"><i class="ti-twitter"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="who problematic">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 col-sm-12">
          <p>Whiznook is on the mission to make building teams more fun and effective.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 col-sm-12">
          <p>At Whiznook, we find that team building activities can be a lot of fun, but are expensive, do not directly correlate with work productivity and have no way of measuring their effect on team synergy over time.</p>
            <p>Did you know:</p>
            <ul>
              <li>Productivity improves by 20-25% in organizations with connected employees.</li>
              <li>Increasing employee engagement investments by 10% can increase profits by $2,400 per employee per year.</li>
              <li>Disengaged workers had 37% higher absenteeism, 49% more accidents, and 60% more errors and defects</li>
              <li>86% of corporate executives, employees and educators say that ineffective communications is a big reason for failures in the workplace.</li>
            </ul>
               <p>We decided to once and for all bridge the gap between fun and effectiveness of team building activities.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="highlight">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 solution">
          <p>Our product is an online teamwork game  - an immersive, interactive approach to give insight on emotional intelligence of the team, areas of inefficiencies, communication and collaboration problems and other metrics. At the same time, every time the team plays the game, they bring out more unity, engagement and motivation within the team, all while having a good time!
            <br>How collaborative is your team?
            <br>Find out with Whiznook. </p>
        </div>
      </div>
    </div>
  </div>

</div>