$gold: rgb(246, 201, 57);

#contact{
    background-color:#212121;
    #mc_embed_signup{
        background-color:transparent!important;
    }
    .top{
        h3{
            color:$gold;
            margin-bottom:0;
        }
        h3:before{
            font-family: 'themify';
            content:'\e61a';
            color:white;
            font-size: 1em;
            margin-right:10px;
        }
        .tagline {
            font-size: 20px;
            font-weight: 300;
            color: $gold;
            color:white;
        }
    }

    .form-control{
        margin:5px auto;
    }
    
    .call-to-action {
        text-align: center;
        color: #FFF;
        margin: 3rem 0;

        >div{
            >.row{
                span{
                    color:white;
                    margin-right:5px;
                }
                p{
                    color:white;
                    line-height:1;
                }
            }
        }

        .box-icon {
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            transform: scale(0.85);
            margin-bottom: 2.5rem;
        }

        h2 {
            color: #FFF;
        }

        .form-contact{
            padding:4em 0;
        }
    }
    
    .btn-outline-light{
        width:100%;
    }
    .btn-light img {
        margin-right: 0.4rem;
        vertical-align: text-bottom;
    }
}
