<div class="section bg-gradient" id="contact">
    <div class="container">
        <div class="call-to-action">

            <h2>Contact us</h2>
            <p class="tagline">To receive our news about the launching, feel free to fill out this form.</p>
            <div class="my-4">
                <form action="#">
                  <input type="text" class="form-control" placeholder="Name">
                  <input type="text" class="form-control" placeholder="Email">
                  <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Type your message here..."></textarea>
                  <input type="submit" value="Send" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">
                </form>
            </div>
        </div>
    </div>

</div>